.App {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  /*background-color: #6dd9c4;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 900px) {
  .App {
    width: 1094px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
  }
}

.main{
  max-width: 1200px;
  margin: auto;
}

